<!-- 简历吸盘 -->
<div class="me-card carbox borderbefore" id="mycard">
<div class="mecar-title">
    <div class="me-image">
    <!-- <span class="status">
        <i>林里谜案</i>
    </span> -->
    <img src="./img/toux.jpg" alt="">
    </div>
    <h3>Yuanfang Zhang</h3>
    <!-- <p class="me-hover">
    <span>其实，我的愿望是世界和平！</span>
    </p> -->
    <span>Software Developer</span>
</div>
<div class="borderbotm"></div>
<div class="buttom-box ">
    <a class="button" href="https://github.com/CharlesZ921" target="_blank">GitHub</a>
<div class="borderbotm"></div>
<div class="mecar-bottm">
    <div>
    <span class="mecarbottm-key"></span>
    <span class="mecarbottm-key">778-223-1314</span>
    </div>
    <div>
    <span class="mecarbottm-key"></span>
    <span class="mecarbottm-key">zhangyuanfang921@gmail.com</span>
    </div>
</div>
<div class="borderbotm"></div>
<div class="mecar-bottm">
    <div>
    <span class="mecarbottm-value">WeChat</span>
    <span class="mecarbottm-key">Zyf_Charles_921</span>
    </div>
    <div>
    <span class="mecarbottm-value">Discord</span>
    <span class="mecarbottm-key">yuanfang1990</span>
    </div>
</div>
</div>
</div>